* {
  margin: 0 0;
  box-sizing: border-box;
}
:root {
  --left-margin: 2em;
}
@font-face {
  font-family: forest-bold;
  src: url(/fonts/Black\ Ground.ttf);
}
body {
  background-color: rgb(250, 247, 247);
  padding-bottom: 100px;
}

.main-grid {
  display: flex;
  font-family: lato, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  /* font-size: px; */
}
.image {
  position: relative;
  height: 100vh;
}
.odin-logo img {
  height: 72px;
}
.odin-logo {
  position: absolute;
  top: 200px;
  width: 100%;
  left: 0;
  height: 80px;
  background-color: rgba(240, 231, 231, 0.644);
  display: flex;
  align-items: center;
  justify-content: center;
}
.odin-logo span {
  font-family: forest-bold;
  font-size: 4em;
  color: white;
}
.image > span {
  position: absolute;
  bottom: 32px;
  width: 100%;
  left: 0px; /*if i remove this line then whole text disappears*/
  color: white;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
}
.photo-credit a {
  color: white;
}
.sidebar-image {
  height: 100vh;
  width: 35vw;
}

.text-area {
  margin-top: 6em;
  margin-left: var(--left-margin);
  margin-bottom: var(--left-margin);
}
p {
  width: max(50%, 48ch);
}

.take-action {
  margin-left: var(--left-margin);
  margin-bottom: var(--left-margin);
}
label {
  text-transform: uppercase;
  font-size: 0.7em;
  display: inline-block;
  width: 300px;
  margin-top: 1em;
  margin-left: 32px;
}
input {
  /* margin-top: 1em; */
  margin-left: var(--left-margin);
  border: 1px solid #e5e7eb;
  border-radius: 2px;
  font-size: 16px;
  appearance: none;
}

button {
  margin-left: var(--left-margin);
  margin-bottom: var(--left-margin);
  background-color: #596d48;
  font-family: lato, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  color: white;
  padding: 1em 4em;
  border: none;
  border-radius: 8px;
}
button:hover {
  background-color: #93b476;
  cursor: pointer;
}
.bottom-text {
  margin-left: var(--left-margin);
}

.form-requirements {
  width: 500px;
  box-sizing: border-box;
  display: flex;
}
.only-form {
  background-color: rgb(255, 255, 255);
  padding-top: var(--left-margin);
  padding-bottom: var(--left-margin);
  box-shadow: 1px 1px 3px #9d9d9c;
  margin-bottom: var(--left-margin);
}
.bottom-text {
  font-weight: 500;
}
.bottom-message {
  margin-top: var(--left-margin);
}
input:valid {
  border-color: rgb(153, 153, 255);
}
input:invalid {
  border-color: rgb(255, 123, 123);
}
input:focus {
  outline: none;
  appearance: none;
  border: 1px solid blue;
  box-shadow: 1px 1px 3px rgb(79, 78, 78);
}
